<!-- <button nz-button (click)="st.reset()">重置</button> -->
<!-- <st #st [data]="url" [req]="req" [scroll]="scroll" [res]="res" [columns]="columns"></st> -->
<app-crud (change)="crudChange($event)" #crud [columns]="columns" [data]="url" [event]="event">
  <ng-template crud-top-button let-args>
    <button (click)="assignMenus(args)" [disabled]="args.checkbox && args.checkbox.length === 1 ? false : true"
      nz-button nzType="primary"><i nz-icon nzType="menu" nzTheme="outline"></i>分配菜单</button>
  </ng-template>

  <ng-template crud-row="menus" let-column>
    <!-- {{menus}} -->
    <nz-tree #nzTree nzShowIcon [nzData]="column.menus">
      <ng-template #nzTreeTemplate let-node let-origin="origin">
        <span class="custom-node">
          <i class="p-sm" nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
          <span class="folder-name">{{ origin.text }}</span>
        </span>
      </ng-template>
    </nz-tree>

    <!-- <ng-container *ngFor="let role of item.roles">
      <nz-tag [nzColor]="'geekblue'">{{role.name}}</nz-tag>
    </ng-container> -->
  </ng-template>
</app-crud>
